/*------------------------------*\
		#SHOP BY SPORTS SECTION
\*------------------------------*/

.shop-sports {
	position: relative;
	height: 595px;
	margin-top: 6px;
}


/*--- TITLE SECTION ---*/

.sports-title-section {
	position: absolute;
	width: 100%;
	height: 195px;
	top: 0;
}

.shop-sports-headings {
	padding-top: 60px;
	text-align: center;
}

.pre-heading {
	font-style: italic;
	font-weight: 700;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #404141;
}

.sports-heading {
	padding-top: 7px;
	font-size: 1.875rem;
	font-weight: 900;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #404141;
}

.sub-heading {
	padding-top: 6px;
	color: #454545;
}

.shop-sports-bg-img {
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 8px; left: 0; right: 0;
	z-index: -99;
}


/*--- SHOP BY SPORTS ---*/

.banner {
	position: absolute;
	width: 100%;
	height: 400px;
	bottom: 0;
	overflow: hidden;
}

.sports-left {
	position: relative;
	width: 58.31%;
	height: 400px;
}

.shop-sports-img img {
	min-width: 100%;
}

.shop-sports-title {
	position: absolute;
	bottom: 110px;
	left: 30px;
}

.shop-sports-title p {
	font-size: 1.5rem;
	font-weight: 900;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #fff;
}

.shop-sports-links {
	position: absolute;
	width: 100%;
	height: 82px;
	bottom: -2px;
	text-align: center;
	background-color: rgba(46, 46, 46, 0.9);
}

.shop-sports-links li {
	display: inline-block;
	margin: 32px 18px;
	font-size: 0.875rem;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.shop-sports-links a {
	color: #fff;
	border-bottom: 2px solid #17adb4;
}

.shop-sports-links a:hover {
	color: #F0B735;
	border-bottom: 2px solid #F0B735;
}


/*--- BESTSELLERS ---*/

.sports-right {
	position: absolute;
	top: 0;
	right: 0;
	width: 41.69%;
	height: 100%;
	background-color: #f2f2ed;
}

.sports-right p {
	padding-left: 26px;
}

.best-seller {
	padding-top: 26px;
	padding-left: 26px;
	font-size: 0.875rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #535454;
}

.product-title {
	padding-top: 10px;
	font-size: 1.375rem;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #535454;
}

.best-seller-img {
	text-align: center;
	padding-top: 11px;
}

.ankle-brace-img {
	margin-top: -52px;
}

.product-banner-bottom {
	position: absolute;
	width: 100%;
	height: 82px;
	bottom: -2px;
	background-color: #e2e0d8;
}

.price-details {
	line-height: 82px;
}

.product-price {
	display: inline-block;
	font-size: 1.875rem;
	font-weight: 900;
	letter-spacing: 2px;
	color: #3f4040;
	padding-right: 20px;
}

.view-details {
	position: absolute;
	top: 0;
	left: 156px;
}

.view-details-btn {
	width: 190px;
	font-size: 0.8125rem;
	background-color: #f0b736;
}

.view-details-btn:hover {
	background-color: #f9c550;
}



/*------------------------------*\
					#MEDIA QUERIES
\*------------------------------*/

@media only screen
	and (min-width: 1300px) {
	
	.best-seller, 
	.product-title {
		text-align: center;
	}
		
	.price-details {
		position: relative;
		margin-left: 26%;
	}

}


@media only screen
	and (min-width: 927px)
	and (max-width: 1246px) {
	
	.shop-sports-title {
		bottom: 112px;
	}	

	.shop-sports-links {
		height: 96px;
	}

	.shop-sports-links ul {
		padding-top: 8px;
	}

	.shop-sports-links li {
		float: left;
		margin: 11px 20px;
		padding: 0;
	}

}


@media only screen
	and (min-width: 866px)
	and (max-width: 926px) {
	
	.shop-sports-title {
		bottom: 112px;
	}	

	.shop-sports-links {
		height: 96px;
	}

	.shop-sports-links ul {
		padding-top: 8px;
	}

	.shop-sports-links li {
		float: left;
		margin: 11px 20px;
		padding: 0 0 0 29px;
	}
	
}


@media only screen
	and (min-width: 649px)
	and (max-width: 865px) {
		
	/*-- SHOP SPORTS ---*/
	
	.shop-sports-title {
		bottom: 112px;
	}	

	.shop-sports-links {
		height: 96px;
	}

	.shop-sports-links ul {
		padding-top: 0;
	}

	.shop-sports-links li {
		margin: 0 16px;
		padding: 22px 0 0 6px;
		font-size: 0.825rem;
	}
			
	/*--- BEST SELLERS ---*/
	
	.best-seller {
		padding-top: 18px;
	}
		
	.product-title {
		font-size: 1.3rem;		
	}
	
	.best-seller-img {
		padding-top: 2px;
	}
	
	.view-details-btn {
		width: 140px;
	}
		
	.view-details {
		left: 116px;
	}
		
	.sports-right p {
    padding-left: 12px;
	}
	
	.product-price {
		font-size: 1.575rem;
	}	
		
}


@media only screen
	and (min-width: 457px)
	and (max-width: 648px) {
		
	/*-- SHOP SPORTS ---*/
	
	.banner {
		height: 100%;
		bottom: -194px;
	}
		
	.shop-sports {
		height: 950px;
	}
	
	.sports-left {
		float: left;
		width: 100%;
	}
		
	.shop-sports-img img {
		min-width: 100%;
	}
		
	.shop-sports-title {
		bottom: 45%;
	}	

	.shop-sports-links {
		height: 100px;
		bottom: 58px;
	}

	.shop-sports-links ul {
		padding-top: 0;
	}

	.shop-sports-links li {
		margin: 0 16px;
		padding: 22px 0 0 6px;
		font-size: 0.825rem;
	}
			
	/*--- BEST SELLERS ---*/
	
	.sports-right {
		top: 343px;
		width: 100%;
		height: 400px;
	}
	
	.sports-right-bg p {
		text-align: center;
	}
		
	.best-seller {
		padding-top: 30px;
	}
		
	.product-title {
		font-size: 1.3rem;		
	}
	
	.best-seller-img {
		padding-top: 2px;
	}
		
	.product-price {
		margin-left: 110px;
		font-size: 1.575rem;
	}
	
	.view-details-btn {
		width: 140px;
	}
		
	.view-details {
		left: 242px;
	}
		
	.sports-right p {
    padding-left: 12px;
	}	
		
}


@media only screen
	and (max-width: 456px) {
		
	/*-- SHOP SPORTS ---*/
	
	.banner {
		height: 100%;
		bottom: -194px;
		overflow: visible;
	}
		
	.shop-sports {
		height: 950px;
	}
	
	.sports-left {
		float: left;
		width: 100%;
	}
		
	.shop-sports-img img {
		max-width: 100%;
	}
		
	.shop-sports-title {
		bottom: 112px;
	}	

	.shop-sports-links {
		height: 100px;
		bottom: 58px;
	}

	.shop-sports-links ul {
		padding-top: 0;
	}

	.shop-sports-links li {
		margin: 0 16px;
		padding: 22px 0 0 6px;
		font-size: 0.825rem;
	}
			
	/*--- BEST SELLERS ---*/
	
	.sports-right {
		top: 340px;
		width: 100%;
		height: 400px;
	}
	
	.sports-right-bg p {
		text-align: center;
	}
		
	.best-seller {
		padding-top: 30px;
	}
		
	.product-title {
		font-size: 1.3rem;		
	}
	
	.best-seller-img {
		padding-top: 2px;
	}
		
	.product-price {
		margin-left: 131px;
	}
	
	.view-details-btn {
		width: 140px;
	}
		
	.view-details {
		left: 242px;
	}
		
	.sports-right p {
    padding-left: 0;
	}
	
	.product-price {
		font-size: 1.575rem;
	}	
		
}

