@import 'main.css'


.hero 
	position relative
	background-color #C4C2B8
	clear both
	
.slick-slide
	position relative

.slick-slide img
	min-width 100%
	
	
/*--- BUTTON ---*/

.learn-more
	position absolute
	bottom 26.4%
	left 11.5%
	
.learn-more button
	background-color #F0B736
	font-size 13px
	font-weight 700
	letter-spacing 0.01em
	
.learn-more button:hover
	background-color #F9C550


/*--- SLIDER SELECTORS ---*/

.slider-tabs
	max-width 1110px
	height 50px
	background-color #C4C2B8
	margin -2px auto

.slider-tabs li
	position relative
	height 50px
	width 368px
	float left
	padding-top 12px
	padding-left 77px
	cursor pointer
	
.selector-text
	font-weight 700
	line-height 1.5rem
	letter-spacing 0.1rem
	text-transform uppercase
	color #fff
	

/*--- ACTIVE TAB ---*/
	
.slick-active
	position relative

li.slick-active
	background-color #9C9A93
	
li.slick-active > .tab-arrow
	position absolute
	top -8px
	left 47.3%
	height 0px
	width 0px
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #9C9A93;
	

/*--- LIVE CHAT ---*/

.live-chat
	position absolute
	bottom 17.2%
	right 0
	
.box 
	width 282px
	height 120px
	background-image url('../img/hero/live-chat-box.png')
	background-repeat no-repeat
	
.live-chat img,
.live-chat p {
	position absolute
	color white
}

.plus-sign
	position absolute
	top 15px
	left 33px
	font-size 1.5em
	font-weight 900
	
.need-help
	display inline-block
	top 20px
	left 55px
	font-size 18px
	font-weight 900
	text-transform uppercase
	font-style italic
	letter-spacing 0.12em
	
.chat-icon
	left 23px
	bottom 19.5px

.chat-live
	bottom 20.5px
	left 52px
	font-size 13px
	line-height 14px
	text-transform uppercase
	letter-spacing 0.085em
	
.chat-live span
	font-weight 900
	
	